<header class="govuk-header" role="banner" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container">
		<div class="govuk-header__logo">
			<a href="https://github.com/piratejas" class="govuk-header__link govuk-header__link--homepage">
				<span class="govuk-header__logotype">
					<svg
						aria-hidden="true"
						focusable="false"
						class="govuk-header__logotype-crown"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 132 97"
						height="30"
						width="36">
						<image
							xlink:href="/images/soc_avatar.png"
							x="0"
							y="-40"
							height="150"
							width="160"
						/>
					</svg>
					<span class="govuk-header__logotype-text">
						{{businessName}}
					</span>
				</span>
			</a>
		</div>
		<div class="govuk-header__content">
			<a href="/" class="govuk-header__link govuk-header__service-name">
				{{serviceName}}
			</a>
			<nav aria-label="Menu" class="govuk-header__navigation ">
				<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
				<ul id="navigation" class="govuk-header__navigation-list">
					<li class="govuk-header__navigation-item">
						<a class="govuk-header__link" href="/documentation">Application</a>
					</li>
					<li class="govuk-header__navigation-item">
						<a class="govuk-header__link" href="/user/contents">Documentation</a>
					</li>
					<li class="govuk-header__navigation-item">
						<a class="govuk-header__link" href="#">Story</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>