{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{{serviceName}}
{% set serviceName = "Restful Restaurant Reviews" %}
{{serviceName}}

{% block headIcons %}
  <link rel="shortcut icon" href="/images/soc_avatar.png" type="image/x-icon" />
{% endblock %}

{% block head %}
  <link href="/styles/main.css" rel="stylesheet">
{% endblock %}

{# {% block bodyStart %}
  <form action="/form-handler" method="post" novalidate>
    {{ govukCookieBanner({
      ariaLabel: "Cookies on " ~ serviceName,
      messages: [
        {
          headingText: "Cookies on " ~ serviceName,
          html: '<p class="govuk-body">We use some essential cookies to make this service work.</p>
            <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>',
          actions: [
            {
              text: "Accept analytics cookies",
              type: "submit",
              name: "cookies[analytics]",
              value: "yes"
            },
            {
              text: "Reject analytics cookies",
              type: "submit",
              name: "cookies[analytics]",
              value: "no"
            },
            {
              text: "View cookies",
              href: "#"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endblock %} #}

{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
  {% include "templates/custom-header.njk" %}
{% endblock %}

{% block main %}
  {% block beforeContent %}
    {{ govukPhaseBanner({
      classes: "govuk-width-container",
      tag: {
        text: "Pira"
      },
      html: 'This is not a real service – your <a class="govuk-link" href="#">feedback</a> will help me to improve it.'
    }) }}
  {% endblock %}
  <main class="govuk-main-wrapper">
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  {% include "templates/custom-footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}