{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
    classes: phaseBannerClasses | default(""),
    tag: {
      text: "Pira"
    },
    html: 'This is not a real service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help me to improve it.' | safe
}) }}