{% extends "templates/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}Change password - {{serviceName}} - {{businessName}}{% endblock %}

{# TODO: pass in user object #}
{# {% set loggedIn = true %}
{% set user = {
	"name": "piratejas"
} %} #}

{# {% set breadcrumbItems = [
	{
		text: "Home",
		href: "/"
	}, {
		text: "Contents"
	}
] %} #}

{% block beforeContent %}
	{{ super() }}
	<div class="before-content-banner">
		{% include "templates/breadcrumbs.njk" %}
		{% include "templates/subnav-auth.njk" %}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter responsive-nav">
			<div class="side-nav">
				<h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-2" id="nav3">Manage account</h2>
				<ul class="side-nav__component">
					<li class="side-nav__list">
						<a class="side-nav__link" href="/user/profile">Manage profile</a>
					</li>
					<li class="side-nav__list  side-nav__list--selected ">
						<a class="side-nav__link" href="/user/profile/password">Change password</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-side-nav-content">

				<h1 class="govuk-heading-l">Change password</h1>

				<form action="/user/profile/password" method="POST">

					{{ govukInput({
                        label: {
                            text: "Current password",
                            classes: "govuk-!-font-weight-bold govuk-!-padding-bottom-3",
							for: "currentpassword",
							attributes: {
								id: "currentpassword-label"
							}
                        },
                        type: "password",
                        classes: "govuk-input--width-20",
                        id: "currentpassword",
                        name: "currentpassword",
                        attributes: {
							"aria-labelledby": "currentpassword-label"
						}
                    }) }}
					<div>
						{{ govukInput({
							label: {
								text: "New password",
								classes: "govuk-!-font-weight-bold",
								for: "password",
								attributes: {
									id: "currentpassword-label"
								}
							},
							hint: {
								text: "Your password must be at least 12 characters and contain at least one number, lowercase letter, uppercase letter and special character",
								id: "password-note"
							},
							type: "password",							classes: "govuk-input--width-20",
							id: "password",
							name: "password",
							describedBy: "password-note",
							attributes: {
								"aria-required": "true"
							}
						}) }}
							
						{{ govukInput({
							label: {
								text: "Confirm new password",
								for: "confirmpassword",
								classes: "govuk-!-font-weight-bold govuk-!-padding-bottom-3"
							},
							type: "password",
							classes: "govuk-input--width-20",
							id: "confirmpassword",
							name: "confirmpassword",
							attributes: {
								"aria-required": "true"
							}
						}) }}
					</div>
					{{ govukButton({
                        text: "Save password"
                    }) }}

				</form>

			</div>
		</div>
	</div>
{% endblock %}