{% extends "templates/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}Sign in - {{serviceName}} - TDSE.UK{% endblock %}

{% block beforeContent %}
	{{ super() }}
	{% include "templates/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-l">Sign in</h1>

			<form action="/user/login" method="POST" novalidate>

				<div class="govuk-form-group ">
					<label class="govuk-label govuk-!-font-weight-bold" for="username" id="username-label">Username</label>
					<input type="text" autocomplete="off" id="username" name="username" value="" class="govuk-input govuk-input--width-20">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-!-font-weight-bold" for="password">Password</label>

					<input type="password" autocomplete="off" id="password" name="password" class="govuk-input govuk-input--width-20">
					<p class="govuk-body">
						<a id="forgottenPassword" class="govuk-link govuk-link--no-visited-state" href="#">
							I've forgotten my password
						</a>
					</p>
				</div>
				<button id="submit" class="govuk-button" type="submit">Sign in</button>

			</form>

			<p class="govuk-body">
				Not registered yet?
				<a class="govuk-link govuk-link--no-visited-state" href="/user/registration">
					Register for an account
				</a>
			</p>

		</div>
	</div>
{% endblock %}