{% extends "templates/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}Manage profile - {{serviceName}} - TDSE.UK{% endblock %}

{% set allergies = [] %}
{% if user.peanutAllergy %}{% set _ = allergies.push("Peanut") %}{% endif %}
{% if user.eggAllergy %}{% set _ = allergies.push("Egg") %}{% endif %}
{% if user.dairyAllergy %}{% set _ = allergies.push("Dairy") %}{% endif %}

{# {% set breadcrumbItems = [
	{
		text: "Home",
		href: "/"
	}, {
		text: "Contents"
	}
] %} #}

{% block beforeContent %}
	{{ super() }}
	<div class="before-content-banner">
		{% include "templates/breadcrumbs.njk" %}
		{% include "templates/subnav-auth.njk" %}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter responsive-nav">
			<div class="side-nav">
				<h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-2" id="nav3">Manage account</h2>
				<ul class="side-nav__component">
					<li class="side-nav__list  side-nav__list--selected ">
						<a class="side-nav__link" href="/user/profile">Manage profile</a>
					</li>
					<li class="side-nav__list ">
						<a class="side-nav__link" href="/user/profile/password">Change password</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-side-nav-content">

				<h1 class="govuk-heading-l">Manage profile</h1>

				<h2 class="govuk-heading-s">Profile details</h2>

				{{ govukSummaryList({
				rows: [
					{
					key: {
						text: "Username"
					},
					value: {
						text: user.username
					}
					},
					{
					key: {
						text: "Address"
					},
					value: {
						html: user.city ~ '<br>' ~ user.county ~ '<br>' ~ user.postCode
					},
					actions: {
						items: [
						{
							href: "#",
							text: "Change",
							visuallyHiddenText: "address"
						}
						]
					}
					},
					{
					key: {
						text: "Allergies"
					},
					value: {
						html: allergies.join(', ')
					},
					actions: {
						items: [
						{
							href: "#",
							text: "Add",
							visuallyHiddenText: "allergies"
						},
						{
							href: "#",
							text: "Change",
							visuallyHiddenText: "allergies"
						}
						]
					}
					}
				]
				}) }}

				<h2 class="govuk-heading-m">Delete account</h2>
				<p class="govuk-body">
					You can ask us to delete your account and we will respond within 2 working days.
				</p>
				<p class="govuk-body">
					<a class="govuk-link govuk-link--no-visited-state" href="#" id="account-deletion">Request account deletion</a>
				</p>

			</div>
		</div>
	</div>
{% endblock %}