{% extends "templates/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}Register a user account - {{serviceName}} - {{businessName}}{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% include "templates/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    Register for a user account
                </h1>

				{% if errors %}
					{{ govukErrorSummary({
						titleText: "There is a problem",
						errorList: errors
					}) }}
				{% endif %}

                <p class="govuk-body">
                    Register a user account to start using our <a class="govuk-link" href="/">RESTful Restaurant Reviews service.</a> Already registered? <a class="govuk-link" href="/user/login">Sign in</a>.
                </p>

                <form action="/user/registration" method="post" novalidate>

                    {{ govukInput({
                        label: {
                            text: "Username",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "username",
                        name: "username",
						value: formData.username,
                        autocomplete: "username",
						errorMessage: {
							text: "Enter a username"
						}
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "City",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "city",
                        name: "city",
						value: formData.city,
						errorMessage: {
							text: "Enter a city"
						}
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "County",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "county",
                        name: "county",
						value: formData.county,
						errorMessage: {
							text: "Enter a county"
						}
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Post code",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-10",
                        id: "postCode",
                        name: "postCode",
						value: formData.postCode,
                        autocomplete: "postal-code",
						errorMessage: {
							text: "Enter a full UK postcode in the correct format"
						}
                    }) }}

                    {{ govukCheckboxes({
                        name: "allergies",
                        fieldset: {
                            legend: {
                            text: "Which food allergy ratings are you interested in?",
                            classes: "govuk-label govuk-!-font-weight-bold"
                            }
                        },
                        hint: {
                            text: "Select any that apply."
                        },
                        items: [
                            {
								name: "eggAllergy",
                                value: "egg",
                                text: "Egg"
                            },
                            {
								name: "dairyAllergy",
                                value: "dairy",
                                text: "Dairy"
                            },
                            {
								name: "peanutAllergy",
                                value: "peanut",
                                text: "Peanut"
                            }
                        ]
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Create password",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        hint: {
                            text: "Your password must be at least 12 characters and contain at least one number, lowercase letter, uppercase letter and special character",
                            id: "password-hint"
                        },
                        type: "password",
                        classes: "govuk-input--width-20",
                        id: "password",
                        name: "password",
						errorMessage: {
							text: "Enter a password in the correct format"
						}
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Confirm password",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        type: "password",
                        classes: "govuk-input--width-20",
                        id: "confirmpassword",
                        name: "confirmpassword",
						errorMessage: {
							text: "Confirm your password"
						}
                    }) }}

                    <p class="govuk-body">
                        By creating an account you agree to our
                        <a class="govuk-link" href="#">terms and conditions</a>,
                        <a class="govuk-link" href="#">privacy policy</a> and
                        <a class="govuk-link" href="#">cookie policy</a>.
                    </p>

                    {{ govukButton({
                        text: "Register"
                    }) }}

                </form>
                <p class="govuk-body">
                    Already registered? <a class="govuk-link" href="/user/login">Sign in to your account.</a>
                </p>
            </div>
        </div>
{% endblock %}