{% extends "templates/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}Register a user account - {{serviceName}} - TDSE.UK{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% include "templates/breadcrumbs.njk" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    Register for a user account
                </h1>

                <p class="govuk-body">
                    Register a user account to start using our <a class="govuk-link" href="/api-documentation/docs/api">RESTful Restaurant Reviews service.</a> Already registered? <a class="govuk-link" href="/user/login">Sign in</a>.
                </p>

                <form action="#" method="post" novalidate>

                    {{ govukInput({
                        label: {
                            text: "Username",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "name",
                        name: "name",
                        autocomplete: "username",
                        value: data["name"] 
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "City",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "city",
                        name: "city",
                        value: data["city"]
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "County",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-20",
                        id: "county",
                        name: "county",
                        value: data["county"]
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Post code",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        classes: "govuk-input--width-10",
                        id: "postCode",
                        name: "postCode",
                        autocomplete: "postal-code",
                        value: data["postCode"]
                    }) }}

                    {{ govukCheckboxes({
                        name: "waste",
                        fieldset: {
                            legend: {
                            text: "Which food allergy ratings are you interested in?",
                            classes: "govuk-label govuk-!-font-weight-bold"
                            }
                        },
                        hint: {
                            text: "Select all that apply."
                        },
                        items: [
                            {
                                value: "egg",
                                text: "Egg"
                            },
                            {
                                value: "dairy",
                                text: "Dairy"
                            },
                            {
                                value: "peanut",
                                text: "Peanut"
                            }
                        ]
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Create password",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        hint: {
                            text: "Your password must be at least 12 characters and contain at least one number, lowercase letter, uppercase letter and special character",
                            id: "password-hint"
                        },
                        type: "password",
                        classes: "govuk-input--width-20",
                        id: "password",
                        name: "password",
                        describedBy: "password-hint"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Confirm password",
                            classes: "govuk-label govuk-!-font-weight-bold"
                        },
                        type: "password",
                        classes: "govuk-input--width-20",
                        id: "confirmPassword",
                        name: "confirmPassword"
                    }) }}

                    <p class="govuk-body">
                        By creating an account you agree to our
                        <a class="govuk-link" href="#">terms and conditions</a>,
                        <a class="govuk-link" href="#">privacy policy</a> and
                        <a class="govuk-link" href="#">cookie policy</a>.
                    </p>

                    {{ govukButton({
                        text: "Register"
                    }) }}

                </form>
                <p class="govuk-body">
                    Already registered? <a class="govuk-link" href="/user/login">Sign in to your account.</a>
                </p>
            </div>
        </div>
{% endblock %}